/* color coding the space, just for testing */
body{
	background-color: lightgoldenrodyellow;
	height: 100vh;
}
.navbar{
	background-color: olivedrab;
}
/* end of color coding */
:root{
/* we can change the setting for the  */
		@media (max-width: 360px) {
			--standardFontsize: 1.4vw;
			--marginEm: 30%; /* margin in % */
		}

		@media (min-width: 361px) {
			--standardFontsize: 3vw;
			--marginEm: 15%;
		}

}
.margins{
	font-size: var(--standardFontsize, 2vw);
	margin-left: var(--marginEm, 10%);
	width:  calc(100vw - var(--marginEm, 10%) * 2);
}
.logos{
}


.dropdown{
	font-size: calc(var(--standardFontsize, 2vw) - 1vw);
	text-align: left;
}
#dropdownByU{

}
