/* color coding the space, just for testing */
.margins{
	background-color: darkgreen;
	height: 100vh;
}
.logos{
	background-color: darkgreen;
	height: 15%;
}
.navbar{
	background-color: olivedrab;
}
/* end of color coding */
:root{
/* we can change the setting for the  */
		@media (max-width: 400px) {
			--standardFontsize: 1.5vw;
			--marginEm: 30%; /* margin in % */
		}

		@media (min-width: 401px) {
			--standardFontsize: 3vw;
			--marginEm: 15%;
		}
}
.margins{
	font-size: var(--standardFontsize, 2vw);
	margin-left: var(--marginEm, 10%);
	width: calc(100vw - var(--marginEm, 10%) * 2)
}
.logos{
}

.navbar{
	text-align: center;
	font-size: var(--standardFontsize, 2vw);
	position: sticky;
}

.dropdown{
	font-size: calc(var(--standardFontsize, 2vw) - 1vw);
	text-align: left;
}
#dropdownByU{

}
