:root{
/* we can change the setting for the  */
		@media (max-width: 360px) {
			--standardFontsize: 1.5vw;
			--marginEm: 30%; /* margin in % */
		}

		@media (min-width: 361px) {
			--standardFontsize: 3vw;
			--marginEm: 15%;
		}
}

.navbar{
	text-align: center;
	font-size: var(--standardFontsize, 2vw);
	position: sticky;
}

.dropdown{
	font-size: calc(var(--standardFontsize, 2vw) - 1vw);
	text-align: left;
}
#dropdownByU{
}
